<%= turbo_frame_tag 'form' do %>
  <div class="border rounded shadow px-3 pb-3 pt-2">
    <h1 class="mb-2"><%= title %></h1>
    <%= simple_form_for(task) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <%= f.input :title %>
      <%= f.button :submit, class: 'btn btn-primary' %>
    <% end %>
  </div>
<% end %>
